.separator {
    margin: 30px 0 40px;
}

.separator-1 {
    margin: 12px 0;
}

.bold {
    font-weight: 600;
}

.card.light-blue .card-title {
    margin-bottom: 20px;
}

.team-info {
    margin-top: 20px;
}

.detail-header {
    font-weight: 700;
    margin: 40px 0 10px;
}